@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
body{
  font-family: 'Raleway', sans-serif;
  background: #ffffff;

  margin: 0;
}


.homeWrapper{
  display: flex;
  flex-direction: column;

}

.mainItem{
  align-items: center;
  justify-content: center;
  display: flex;
}

//Mouse move "Ella Mae Arana"
.move{
  position: relative;
  height: 60vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

//div inside .move for "Ella Mae Arana"
h1{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5em;
  font-weight: 700;
  white-space: nowrap;
  color: #edf2f4;
  text-align: center !important;

  & .moving{

    color: #a8dadc;
    font-weight: 900;
    will-change: transform;
  }
}


h1 span {
  font: 700 5em/1;
  letter-spacing: 50;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;


/* Clip Background Image */

  background: url(./pant.svg) repeat-x;
  -webkit-background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 40s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: -200% 50%; }
  100% { background-position: 250% 30%; }
  0% { background-position: -100% 50%; }
}

@media screen and (max-width: 560px) {
  h1 {

  }
}


.jobTitle{
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
  color: #990099;

}




.login-btn {
  width:200px;
  height:60px;
  cursor:pointer;
  perspective:500px;
  -webkit-perspective:500px;
  padding-right: 20px;
  margin-right: 10px;

}

.login-btn:hover .login-btn2{
  transform:rotateX(-90deg);
}

@media (hover:none), (hover:on-demand) {
  .login-btn:hover .login-btn2{
    transform:rotateX(-90deg);
}
}

.login-span{
  width:100%;height:100%;
  position:absolute;
  box-sizing:border-box;
  border:5px solid #f8cacc;
  font-family:'Source Sans Pro',
  sans-serif;line-height:50px;
  font-size:12pt;
  text-align:center;
  text-transform:uppercase;
}
.login-span:nth-child(1){
  color:#8895c3;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}
.login-span:nth-child(2){
  color: #F8CAC5;
  background: #8895c3;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);}

.login-btn2{
  height:100%;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  transition:0.25s;
  -webkit-transition:0.25s;}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.fa{
  font-size: 2em;
  padding-right: 30px;
  color: #f8cacc;
}

.fa-linkedin {
  color: #8895c3
}

