@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
body{
  font-family: 'Raleway', sans-serif;
  background: #ffffff;

  margin: 0;
}


.homeWrapper{
  display: flex;
  flex-direction: column;

}

.mainItem{
  align-items: center;
  justify-content: center;
  display: flex;
}

//Mouse move "Ella Mae Arana"
.move{
  position: relative;
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

//div inside .move for "Ella Mae Arana"
h1{
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  font-size: 5em;
  font-weight: 700;
  white-space: nowrap;
  color: #edf2f4;
  text-align: center !important;

  & .moving{

    color: #a8dadc;
    font-weight: 900;
    will-change: transform;
  }

}


h1 span {
  font: 700 5em/1;
  letter-spacing: 50;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;


/* Clip Background Image */

  background: url(./pant.svg) repeat-x;
  -webkit-background-clip: text;

/* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 40s linear infinite;

/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% { background-position: -200% 50%; }
  100% { background-position: 250% 30%; }
  0% { background-position: -100% 50%; }
}

@media screen and (max-width: 560px) {
  h1 {

  }
}