@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
body{
  font-family: 'Raleway', sans-serif;
  background: #ffffff;

  margin: 0;
}

.move{
  position: relative;
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
